extends layout

block head
    title 404
    link(rel="stylesheet" href="/404.css")
block body 
    .wrapper 
       .title 404
        if message
            p= message
        else
            p Page not found


    