.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.title {
  font-size: 200px;
  font-weight: bold;

  text-align: center;
}
.wrapper p {
  font-size: 32;
  text-align: center;
}
